.Container {
  max-width: 60rem;
  margin: 3rem auto 0;
  font-family: sans-serif;

  p {
    color: #aaa;
  }
}

h1 {
  margin-top: 160px;
  margin-bottom: 160px;
  color: #414e4d;
  line-height: 1.44;
  text-align: center;
  font-family: "Apercu", sans-serif;
  font-size: 48px;
}
