.Container {
  max-width: 60rem;
  margin: 0 auto;
  font-family: sans-serif;
  position: relative;

  p {
    color: #aaa;
  }
}

.Shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  will-change: transform;
}

.Title {
  position: relative;
  z-index: 10;
  margin: 120px auto 260px;
  color: #414e4d;
  line-height: 1.6;
  text-align: center;
  font-family: "Apercu", sans-serif;
  font-size: 42px;
  max-width: 890px;
}

.Section {
  background: #f7f7f7;
  height: 800px;
}

// .Card {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: auto;
//   will-change: transform;
// }
