.nav {
  display: flex;
  flex-flow: row;
  width: 100%;
  padding: 60px 0 0;
  grid-column-start: 1;
  grid-column-end: 13;
}

.navList {
  display: flex;
  flex-flow: row;
  align-self: flex-end;
  margin-left: auto;
}

.navLink {
  padding-left: 60px;
}