
/* This is a nested grid with two columns */
.workGrid {
  padding: 240px 0;
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card {
  position: relative;
  display: flex;
  height: 800px;
  background: var(--color-brand);  
  border-radius: 24px;
  padding: 20px;
  flex-flow: column;
}

/* Featured cards take up an entire row */
.featured {
  grid-column: span 2;
  background: linear-gradient(107.63deg, #F9F9F9 0.47%, #FFE1E1 98.09%);
}

.card:nth-child(2),
.card:nth-child(4) {
  background: linear-gradient(107.99deg, #F9F8F8 0%, #FCECEC 100%);
}

.card:nth-child(3),
.card:nth-child(5) {
  background: linear-gradient(319.68deg, #FFE2E2 0%, #FDEDED 100%);
}

.imageWrapper {
  overflow: hidden;
  margin: auto;
  justify-self: center;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.carousel {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.carousel .image {
  margin: 0 30px;
}

.image {
  width: 269px;
  height: auto;
}

.title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 8px;
  border-radius: 8px;
  background: var(--color-white);
  color: var(--color-black);
}