
/* This is a nested grid with two columns */
.workGrid {
  padding: 240px 0;
  grid-column-start: 2;
  grid-column-end: 12;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.card {
  position: relative;
  display: flex;
  height: 800px;  
  border-radius: 24px;
  flex-flow: column;
}

/* Featured cards take up an entire row */
.featured {
  grid-column: span 2;
  background: var(--color-pink);
}

.cardPink {
  background: var(--color-pink);
}

.cardBlue {
  background: var(--color-blue);
}

.cardGreen {
  background: var(--color-green);
}

.cardPurple {
  background: var(--color-purple);
}

.cardYellow {
  background: var(--color-yellow);
}

.cardTeal {
  background: var(--color-teal);
}

.imageWrapper {
  overflow: hidden;
  margin: auto;
  justify-self: center;
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
}

.carousel {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
}

.image {
  width: 100%;
  height: auto;
}

.title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  padding: 12px 20px;
  border-radius: 32px;
  background: var(--color-white);
  color: var(--color-black);
}